body{
    background:url(../imagenes/images.jpg);

}
section{
  width:70%;
  height:900px;
  background:white;
  margin: 40px 200px;
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}

.encabezado{
  text-align: center;
  width:100%;
  height:120px;
  background:blue;
  margin:;
  font-size: 35px
    }

.input{
  position: relative;
  top:;
  bottom:;
  right:;
  left:80px;
}

.grafica{
  position: relative;
  top:;
  bottom:;
  right:;
  left:200px;
}
}


h2{
text-align: center;
}
